<div id="<%= dom_id item %>">
  <p>
    <strong>Quantity:</strong>
    <%= item.quantity %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= item.total %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= item.product_id %>
  </p>

  <p>
    <strong>Transaction order:</strong>
    <%= item.transaction_order_id %>
  </p>

</div>
